services:
  vimexx-ddns-client:
    container_name: vimexx-ddns-client
    image: 2kman/vimexx-ddns-client:alpine
    restart: unless-stopped
    volumes:
      - /path/to/secure/config/file:/etc/vimexx-dns.conf:ro
    environment:
      - VIMEXX_DNS_DOMAIN=<myhomeserver.example.com>
      - VIMEXX_SLEEP=<delay between runs, 30s by default>
